.home-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    color: white;
}
.home-content-container{
    display: block;
    text-align: center;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: -6px;
    background-color: #098FE3;
    margin-bottom: 100px;
    padding-bottom: 20px;
}

table, tr{
    padding-left: 10%;
    padding-right: 10%;
}
td {
    border: 1px solid black;
}