@import url("Fonts/Quarz 974 Light.otf");
@font-face {
	font-family: 'Quarz974';
	src: url("Fonts/Quarz 974 Light.otf");
}

* {
	margin: 0;
	padding: 0;
}
/* ------------



	LOGIN AND REGISTER PAGE



 -------------- */
.login-wrapper {
	width: 100%;
	height: 960px;
	background-image: url("images/login-bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.forms-container {
	width: 960px;
	margin: 0 auto;
	padding-top: 300px;
}
.login-page .form {
	width: 400px;
	min-height: 320px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid;
	border-color: rgba(9, 143, 227, 0.8); 
	font-family: 'Open Sans', sans-serif;
	transition: background-color 0.4s, box-shadow 0.4s;
}
.login-page .form:hover {
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 40px 1px #098FE3;
}
.login {
	float: left;
}
.register {
	float: right;
}
.login-page .form h1 {
	text-align: center;
	color: #098FE3;
	font-weight: 400;
	letter-spacing: 1px;
}
.login-page .form hr {
	width: 96%;
	margin: 10px auto 30px auto;
	border: 1px solid #098FE3;
	transition: box-shadow 0.4s;
}
.login-page .form:hover hr {
	box-shadow: 0 0 40px 5px #098FE3; 
}
.login-page .form .form-container {
	width: 80%;
	margin: 0 auto;
}
.login-page .form .form-container div {
	width: 100%;
	margin: 10px 0;
}
.login-page .form .form-container div input {
	width: 100%;
	padding: 6px 2px;
	color: #48F7D1;
	font-size: 18px;
	background-color: rgba(10, 44, 66, 0.6);
	outline: none;
	border: 1px solid rgba(72, 247, 209, 0);
	transition: border 0.45s ease-in-out, box-shadow 0.45s ease-in-out;
}
.login-page .form .form-container div input:focus {
	border-bottom: 1px solid rgba(72, 247, 209, 0.6);
	box-shadow: 0 0 50px -10px #48F7D1;
}
.login-page .form .form-container div input[type="submit"] {
	width: 101.5%;
	color: #48F7D1;
	font-weight: 500;
	font-size: 20px;
	padding: 7px 2px;
	background-color: #098FE3;
	border: none;
	letter-spacing: 1px;
	margin-top: 10px;
}
.login-page .form .form-container div input[type="submit"]:hover {
	background-color: #0F7DC1;
}


/* Place Holder CSS */
::-webkit-input-placeholder {
   color: #48F7D1;
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #48F7D1;
   font-size: 14px;
<<<<<<< HEAD
=======
   font-style: italic;
   -webkit-transition: opacity 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out;
>>>>>>> origin/master
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #48F7D1;
<<<<<<< HEAD
   font-size: 14px;  
=======
   font-size: 14px;
   font-style: italic;
   -webkit-transition: opacity 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out; 
>>>>>>> origin/master
}

:-ms-input-placeholder {  
   color: #48F7D1;
   font-size: 14px;
<<<<<<< HEAD
=======
   font-style: italic;
   -webkit-transition: opacity 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out;
>>>>>>> origin/master
}
.error {
	color:#E95757;
	text-shadow: 0 0 2px #E95757, 0 0 2px #E95757;
}
.register-error, .login-error {
	display: block;
	text-align: center;
	font-size: 18px;
}
.register-error {
	padding: 10px 0;
}
/*


	HEADER



*/
header {
	width: 100%;
	font-weight: 400;
	border: none;
	background: #098FE3; /* For browsers that do not support gradients */
	position: fixed;
	top: 0;
}
header nav {
	text-align: center;
}
nav ul {
	list-style-type: none;
	padding: 10px 0;
}
nav ul div {
	margin-bottom: 10px;
	float: left;
}
nav ul div a {
	color: white;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	padding: 10px 0;
	transition: background-color 0.45s ease-in-out, padding 0.45s ease-in-out;
}
nav ul div .menu-link:hover {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px 0;
}
nav ul div a li {
	display: inline;
	padding: 10px 60px;
	transition: 0.4s;
}
.active {
	background-color: rgba(0, 0, 0, 0.6);
}
nav ul .menu-div {
	position: relative;
}
nav ul .menu-div .dropdown {
	position: absolute;
	width: 100%;
	margin-top: 10px;
	background: #3076C1;
	display: none;
}
.dropdown ul {
	list-style-type: none;
}
.dropdown ul li {
	padding: 10px 0;
	color: white;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px; 
	transition: background 0.45s ease-in-out;
}
.dropdown ul li:hover {
	background: rgba(0, 0, 0, 0.6); 
}
.dropdown ul li a:hover {

}


/*


	HOME-PAGE



*/
.home-page{
	background-image: url("images/home-page.jpg");
	background-size: 100% 100vh;
	background-repeat: no-repeat;
}
/*


	Gaming Community



*/
.gaming-community-page{
}






/*


    footer



*/
footer{
	width: 100%;
	font-family: 'Lato', sans-serif;
}
footer .footer-1 {
	background-image: url("images/footer-bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
footer .footer-1 .footer-col {
	width: 33.3%;
	float: left;
	background-image: none;
	margin: 50px 0;
}
footer .footer-1 .footer-col div {
	width: 70%;
	margin: 0 auto;
}
footer .footer-1 .footer-col div img {
	float: left;
	margin: 20px;
	transition: 1.5s;
}
footer .footer-1 .footer-col:hover  div img {
	-ms-transform: rotateY(360deg); /* IE 9 */
    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
    transform: rotateY(360deg);
}
footer .footer-1 .footer-col div h1 {
	color: white;
	padding-top: 50px;
	padding-bottom: 10px;
	font-size: 28px;
}
footer .footer-1 .footer-col div p {
	color: #BABABA;
	font-size: 20px;
}
footer .footer-1 .footer-col div span {
	font-family: 'Quarz974';
	padding: 0 5px;
	letter-spacing: 1px;
}
footer .footer-2 {
	width: 100%;
	height: 100px;
	background-color: #098FE3; /* For browsers that do not support gradients */
	 background: -webkit-linear-gradient(left bottom, #098FE3, #074870); /* For Safari 5.1 to 6.0 */
	 background: -o-linear-gradient(right bottom, #098FE3, #074870); /* For Opera 11.1 to 12.0 */
	 background: -moz-linear-gradient(right bottom, #098FE3, #074870); /* For Firefox 3.6 to 15 */
	 background: linear-gradient(to right bottom, #098FE3, #074870); /* Standard syntax */
	text-align: center;
}
footer .footer-2 .footer-2-container {
	height: 100px;
}
footer .footer-2 .footer-2-container div {
	width: 33.3%;
	float: left;
	height: 100%;
	line-height: 100px;
}
footer .footer-2 .footer-2-container div h1 {
	font-family: 'Quarz974';
	color: white;
}
footer .footer-2 .footer-2-container div p {
	color: white;
	font-family: 'Lato', sans-serif;
}
footer .footer-2 .footer-2-container div a img {
	margin-top: 28px;
}
/*



	Other



*/
.clearfix {
	clear: both;
}
.margin-bottom {
	margin-bottom: 44px;
}