@import url("Fonts/Quarz 974 Light.otf");
@font-face {
	font-family: 'Quarz974';
	src: url("Fonts/Quarz 974 Light.otf");
}

* {
	margin: 0;
	padding: 0;
}
/* ------------



	LOGIN AND REGISTER PAGE



 -------------- */
.login-wrapper {
	width: 100%;
	height: 960px;
	background-image: url("images/login-bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/*


	HEADER



*/
header {
	width: 100%;
	font-weight: 400;
	border: none;
	background: #098FE3; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left bottom, #098FE3, #074870); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right bottom, #098FE3, #074870); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right bottom, #098FE3, #074870); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #098FE3, #074870); /* Standard syntax */
	position: fixed;
	z-index: 9999;
	top: 0;
}
header nav {
	text-align: center;
	width: 100%;
	float: left;
}
nav ul {
	list-style-type: none;
	padding: 10px 0;
}
nav ul div {
	margin-bottom: 10px;
	float: left;
}
nav ul div a {
	color: white;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	padding: 10px 0;
	transition: background-color 0.45s ease-in-out, padding 0.45s ease-in-out;
}
nav ul div .menu-link:hover {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px 0;
}
nav ul div a li {
	display: inline;
	padding: 10px 50px;
	transition: 0.4s;
}
.active {
	background-color: rgba(0, 0, 0, 0.6);
}
nav ul .menu-div {
	position: relative;
}
nav ul .menu-div-username {
	float: right;
}
nav ul .menu-div-username a {
	transition: background 0.45s ease-in-out;
}
nav ul .menu-div-username a:hover {
	background: rgba(0, 0, 0, 0.6);
}
nav ul .menu-div .dropdown {
	position: absolute;
	width: 100%;
	margin-top: 10px;
	background: #175AA2;
	display: none;
}
.dropdown ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 10px;
}
.dropdown ul li {
	padding: 10px 0;
	color: white;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px; 
	transition: background 0.45s ease-in-out;
}
.dropdown ul li:hover {
	background: rgba(0, 0, 0, 0.6); 
}
.dropdown ul li a, .dropdown ul li p {
	color: white;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	display: block;
	width: 100%;
	padding: 0;
	transition: background-color 0.45s ease-in-out, padding 0.45s ease-in-out;
	cursor: pointer;
}
header .header-username {
	display: inline-block;
	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	width: 10%;
	height: 44px;
	float: right;
	transition: background 0.30s ease-in-out;
	background-color: rgba(0, 0, 0, 0.6);
}
header .header-username p {
	padding-top: 7px;
}
header .header-username a {
	text-decoration: none;
	color: white;
}
header .header-username:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.form-bg {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	z-index: 1000;
	display: none;
}
.form-bg .forms-container {
	width: 470px;
	margin: 0 auto;
	padding-top: 300px;
}
.form-bg .form {
	width: 400px;
	min-height: 320px;
	margin: 0 auto;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid;
	border-color: rgba(9, 143, 227, 0.8); 
	font-family: 'Open Sans', sans-serif;
	transition: background-color 0.4s;
}
.form-bg .form:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.form-bg .form h1 {
	text-align: center;
	color: #098FE3;
	font-weight: 400;
	letter-spacing: 1px;
}
.form-bg .form hr {
	width: 96%;
	margin: 10px auto 30px auto;
	border: 1px solid #098FE3;
}
.form-bg .form .form-container {
	width: 80%;
	margin: 0 auto;
}
.form-bg .form .form-container {
	width: 80%;
	margin: 0 auto;
}
.form-bg .form .form-container div {
	width: 100%;
	margin: 10px 0;
}
.form-bg .form .form-container div input {
	width: 100%;
	padding: 6px 2px;
	color: #48F7D1;
	font-size: 18px;
	font-style: italic;
	background-color: rgba(10, 44, 66, 0.6);
	outline: none;
	border: 1px solid rgba(72, 247, 209, 0);
	transition: border-bottom 0.45s ease-in-out;
}
.form-bg .form .form-container div input:focus {
	border-bottom: 1px solid rgba(72, 247, 209, 0.6);
}
.form-bg .form .form-container div input[type="submit"] {
	width: 101.5%;
	color: #48F7D1;
	font-weight: 500;
	font-size: 20px;
	padding: 7px 2px;
	background-color: #098FE3;
	border: none;
	letter-spacing: 1px;
	margin-top: 10px;
}
.form-bg .form .form-container div input[type="submit"]:hover {
	background-color: #0F7DC1;
}

/* Place Holder CSS */
::-webkit-input-placeholder {
   color: #48F7D1;
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #48F7D1;
   font-size: 14px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #48F7D1;
}

:-ms-input-placeholder {  
   color: #48F7D1;
   font-size: 14px;
}
.form-bg .error {
	color:#E95757;
	text-shadow: 0 0 2px #E95757, 0 0 2px #E95757;
}
.form-bg .register-error, .login-error {
	display: block;
	text-align: center;
	font-size: 18px;
}
.form-bg .register-error {
	padding: 10px 0;
}
.header-margin {
	margin-bottom: 50px;
}
/*


	HOME-PAGE



*/
.home-page{
	/*background-image: url("images/home-games.jpg");*/
	/*background-size: 100% 100vh;*/
	/*background-repeat: no-repeat;*/
	background-color: #e60000; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left bottom, #e60000, #660000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left bottom, #e60000, #660000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left bottom, #e60000, #660000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #e60000, #660000); /* Standard syntax */
}
.home-game-container {
	width: 70%;
	height: 400px;
	margin: 0 auto;
	background: black;
}
.home-game-holder {
	width: 33.3%;
	height: 100%;
	float: left;
}
.home-game-holder a {
	text-decoration: none;
}
.home-game {
	width: 70%;
	height: 90%;
	margin: 18px auto 0 auto;
	background-color: #098FE3;
}
.home-game .game-image-holder {
	width: 90%;
	height: 80%;
	margin: 10px auto;
}
.home-game .game-image-holder img {
	padding-top: 10px;
	width: 100%;
	height: 100%;
}
.home-game h1 {
	color: white;
	font-family: 'Lato', sans-serif;
	padding-top: 5px;
	text-align: center;
}




/*



	PROFILE




*/
.profile-wrapper {
	width: 1280px;
	height: 800px;
	margin: 60px auto;
	background-color: black;
	border: 3px solid #098FE3;
}
.profile-wrapper h1 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 45px;
	text-align: center;
	padding: 10px 0; 
}
.profile-wrapper hr {
	display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #098FE3;
    padding: 0;
	width: 98%;
	margin: 0 auto;
}
.profile-wrapper .profile-menu {
	width: 90%;
	height: 50px;
	margin: 10px auto;
}
.profile-menu h1 {
	font-size: 28px;
}
.profile-wrapper .profile-menu .profile-menu-div {
	width: 48%;
	background-color: #098FE3;
}
.profile-menu-div:first-child {
	float: left;
}
.profile-menu-div:nth-child(2) {
	float: right;
}
.profile-games-holder {
	width: 48%;
	height: 550px;
	box-sizing: border-box;
	border: 1px solid #098FE3;
	float: left;
	margin-top: 5px;
	overflow: scroll;
}
form h1 {
	font-size: 24px !important;
}
form .add-game-title {
	width: 80%;
	margin: 5px auto;
	background-color:#098FE3; 
}
form .add-game-input-div {
	width: 50%;
	margin: 10px auto;
}
form select {
	width: 100%;
}
form input[type="submit"] {
	display: block;
	width: 40%;
	margin: 10px auto;
	color: white;
	background-color: #098FE3;
}
.profile-menu ::-webkit-input-placeholder {
   color: black;
   font-size: 14px;
   font-style: italic;
}

.profile-menu :-moz-placeholder { /* Firefox 18- */
   color: black;
   font-size: 14px;
   font-style: italic;
}

.profile-menu ::-moz-placeholder {  /* Firefox 19+ */
   color: black;
   font-size: 14px;
   font-style: italic;
}

.profile-menu :-ms-input-placeholder {  
   color: black;
   font-size: 14px;
   font-style: italic;
}
.profile-menu .error {
	color: white;
}
.profile-single-game {
	width: 33.3%;
	height: 200px;
	margin-bottom: 10px;
	float: left;
}
.profile-single-game-in {
	width: 90%;
	height: 100%;
	margin: 5px auto;
	background-color: #098FE3;
}
.profile-single-game-in .profile-image-holder {
	width: 90%;
	margin: 0 auto;
	height: 80%;
}
.profile-single-game-in .profile-image-holder img {
	width: 100%;
	height: 100%;
	padding-top: 5px;
}
.profile-single-game-in h1 {
	font-size: 20px;
}
.profile-single-game-in a {
	text-decoration: none;
}






/*


	Games



*/
.games-page{
	background-color: #EAEAEA;
}
.games-page a {
	color: white;
	text-decoration: none;
}
.games-page .play {
	width: 100%;
	margin: 150px 0 100px 0;
}
.games-page .play h2 {
	width: 100%; 
	color: #098FE3;
	text-align: center; 
	border-bottom: 1px solid #098FE3; 
	line-height: 0.1em;
	margin: 10px 0 20px;
	font-size: 34px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: 5px;
}
.games-page .play span {
	background-color: #098FE3; /* For browsers that do not support gradients */
	color: white;
    padding:0 50px; 
}
.games-page .game-wrapper {
	width: 1280px;
	height: 1240px;
	margin: 50px auto;
	background: #2A2525;
	background-size: 160%;
	background-position: 0 0;
	transition: background-position 7s;
	position: relative;
}
.games-page .game-wrapper .page-holder {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.games-page .game-wrapper .page-holder a {
	color: white;
	text-decoration: none;
	font-size: 24px;
	padding: 0 5px;
}
.games-page .game-wrapper .single-device {
	width: 25%;
	height: 75px;
	float: left;
	font-size: 28px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: white;
	background-color: #098FE3;
	text-align: center;
	transition: background 0.45s ease-in-out;
	cursor: pointer;
}
.games-page .game-wrapper .single-device p {
	padding: 20px 0;
}	
.games-page .game-wrapper .single-device:not(.last) {
	border-right: 1px solid white;
	box-sizing: border-box;
}
.games-page .game-wrapper .single-device:hover {
	background: rgba(0, 0, 0, 0.6); 
}
.games-page .game-wrapper .single-game {
	width: 25%;
	height: 340px;
	float: left;
	margin-top: 20px; 
	overflow: hidden;
}
.games-page .game-wrapper .single-game .game-container {
	width: 80%;
	margin: 0 auto;
	background-color: #098FE3;
}
.games-page .game-wrapper .single-game a {
	text-decoration: none;
}
.games-page .game-wrapper .single-game .game-container .game-image {
	width: 100%;
	padding-top: 10px;
}
.games-page .game-wrapper .single-game .game-container .game-image img {
	display: block;
	width: 80%;
	height: 280px;
	margin: 0 auto;
}
.games-page .game-wrapper .single-game .game-container .game-title {
	width: 80%;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
}
.games-page .game-wrapper .single-game .game-container .game-title h2 {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: white;
}


/*


	SINGLE GAME


*/
.single-game-page {
	width: 1280px;
	min-height: 500px;
	margin: 100px auto;
	background-color: #098FE3;
	position: relative;
}
.single-game-page h1 {
	padding: 10px 0;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	text-align: center; 
}
.single-game-page .game-image-holder {
	width: 25%;
	height: 400px;
	float: left;
}
.single-game-page .game-image-holder .game-image {
	width: 90%;
	height: 100%;
	margin: 10px auto;
}
.single-game-page .game-image-holder img {
	width: 100%;
	height: 100%;
}
.single-game-page .single-game-desc {
	width: 75%;
	float: right;
	margin: 20px 0;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}
.game-users {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.game-users a {
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}


/*



	USER LIST



*/
.list-wrapper {
	width: 960px;
	height: 1000px;
	margin: 70px auto;
	border: 3px solid #098FE3;
	background-color: black;
}
.list-wrapper .list-title {
	width: 100%;
	background-color: #098FE3;
	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}
.list-wrapper .list-title h1 {
	padding: 15px 0;
}
.list-wrapper .single-user {
	width: 25%;
	float: left;
	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}
.list-wrapper .single-user div {
	width: 80%;
	margin: 10px auto;
	background-color: #098FE3;
}
.list-wrapper .single-user div p {
	padding: 5px 0;
}



/*


    footer-1 aka the footer that was moved in the About page



*/

footer{
	width: 100%;
	font-family: 'Lato', sans-serif;
}
footer .footer-1 {
	background-image: url("images/footer-bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;

}
footer .footer-1 .footer-col {
	width: 33.3%;
	float: left;
	background-image: none;
	margin: 50px 0;
}
footer .footer-1 .footer-col div {
	width: 70%;
	margin: 0 auto;
}
footer .footer-1 .footer-col div img {
	float: left;
	margin: 20px;
	transition: 1.5s;
}
footer .footer-1 .footer-col:hover  div img {
	-ms-transform: rotateY(360deg); /* IE 9 */
    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
    transform: rotateY(360deg);
}
footer .footer-1 .footer-col div h1 {
	color: white;
	padding-top: 50px;
	padding-bottom: 10px;
	font-size: 28px;
}
footer .footer-1 .footer-col div p {
	color: #BABABA;
	font-size: 20px;
}
footer .footer-1 .footer-col div span {
	font-family: 'Quarz974';
	padding: 0 5px;
	letter-spacing: 1px;
}




/*


    footer-2 aka the real footer



*/


footer .footer-2 {
	width: 100%;
	background-color: #098FE3; /* For browsers that do not support gradients */
	 background: -webkit-linear-gradient(left bottom, #098FE3, #074870); /* For Safari 5.1 to 6.0 */
	 background: -o-linear-gradient(right bottom, #098FE3, #074870); /* For Opera 11.1 to 12.0 */
	 background: -moz-linear-gradient(right bottom, #098FE3, #074870); /* For Firefox 3.6 to 15 */
	 background: linear-gradient(to right bottom, #098FE3, #074870); /* Standard syntax */
	text-align: center;

	/*Make footer stick to bottom*/
	position: fixed;
	left: 0;
	bottom: 0;
	height: 60px;
}
footer .footer-2 .footer-2-container {
	height: 100px;
}
footer .footer-2 .footer-2-container div {
	padding-top: 8px;
	width: 33.3%;
	float: left;
	height: 100%;
	line-height: 50px;
}
footer .footer-2 .footer-2-container div h1 {
	font-family: 'Quarz974';
	color: white;
}
footer .footer-2 .footer-2-container div p {
	color: white;
	font-family: 'Lato', sans-serif;
}
footer .footer-2 .footer-2-container div a img {
	margin-top: 0px;
}
/*



	Other



*/
.clearfix {
	clear: both;
}
.margin-bottom {
	margin-bottom: 44px;
}
/*



	FORMS



*/

td{
	font-size: 25px;
	padding-top: 10px;
	padding-left: 10px;
	color: white;
	border-color: white;
	text-align: center;
	border-width: 2px;
}
th {
	font-size: 25px;
	color: white;
	text-align: center;
}
input{
	font-size: 20px;
}
textarea{
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}
select {
font-size: 20px;
}
.buttons-size{
	font-size: 20px;
}
.blog {
	background-color: #e60000; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left bottom, #e60000, #660000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left bottom, #e60000, #660000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left bottom, #e60000, #660000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #e60000, #660000); /* Standard syntax */
}
.options{
	text-decoration: none;
	color: white;
}
.text-font{
	color: white;
	text-align: center;
}
.cancel-buttons{
	color: #098FE3;
}
.forms{
	text-align: center;
}
table{
	border-collapse: collapse;
}
